[submodule "maas-loki-alert-rules"]
	path = maas-loki-alert-rules
	url = https://github.com/canonical/maas-loki-alert-rules.git
[submodule "maas-prometheus-alert-rules"]
	path = maas-prometheus-alert-rules
	url = https://github.com/canonical/maas-prometheus-alert-rules.git
[submodule "packer-maas"]
	path = packer-maas
	url = https://github.com/ajanis/packer-maas.git
[submodule "maas-performance"]
	path = maas-performance
	url = https://git.launchpad.net/~maas-committers/maas/+git/maas-performance
