argcomplete
astroid
attrs
autopep8
black
bracex
certifi
cffi
charset-normalizer
cryptography
dill
filelock
idna
isort
Jinja2
jsonschema
jsonschema-specifications
lazy-object-proxy
markdown-it-py
MarkupSafe
mccabe
mdurl
packaging
pathspec
pipx
platformdirs
pycodestyle
pycparser
Pygments
pylint
pytest
PyYAML
referencing
requests
resolvelib
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
setuptools
subprocess-tee
tomlkit
urllib3
userpath
wcmatch
wrapt
yamllint
pytest-testinfra
pytest-xdist
